#calculator{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
}
#display{
    margin: 10px;
    width: 81%;
    font-size: 20px;
}
.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.button{
    width: 45px;
    height: 45px;
    margin: 3px;
}